# @package _group_
init:
  _target_: gnosis.datasets.make_subsampled_mnist
  root: /datasets/mnist
  download: True
  num_data: 200
  seed: 0

name: mnist
num_classes: 10
input_size: 28
shuffle_train_targets:
  enabled: False
  seed: 0
  ratio: 1.0
subsample:
  ratio: 1.0
  seed: 0
  split: 0
statistics:
  mean_statistics:
    - 0.
    - 0.
    - 0.
  std_statistics:
    - 1.
    - 1.
    - 1.
  max:
    - 1.0
    - 1.0
    - 1.0
  min:
    - 0.0
    - 0.0
    - 0.0